* {
	outline: none;
	box-sizing: border-box;
	padding: 0;
}
h1,
h2 {
  margin: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
body {
	background: #303030;
}


.wrapper{
	/* width:70%; */
	margin: 0 auto;
	max-height: 100%;
	overflow: hidden;
}

.line {
	display: block;
	height: 0.1em;
	width: 70%;
	background-color: gray;
}

.accordion-container{
<<<<<<< HEAD:cssBayan/style.css
	padding: 2rem 7rem 2rem 7rem;
	background-color: #9f9f9f;
=======
	padding: 2rem;
	background-color: #d0d0d0;
>>>>>>> parent of 3a78a68 (feat: fix bags and add new img (Mon, Mar 13, 2023 00:01:56 PM)):style.css
  margin: 0 auto;
	margin-top: 5rem;
  margin-bottom: 5rem;
}

.accordion-heder__title{
	padding-bottom: 2rem;;
}

.accordion-meme__content{
	width:70%;
	margin: 0 auto;
}
.meme__image{
	display: block;
  width: 100%;
  height: 0;
  margin: 0 auto;
  padding-bottom: 0;
  opacity: 0;
  scale: 0;
  transition: all 0.5s ease-out;
}

.accordion-label,
.header-accordion {
  padding: 0.4rem;
}

.accordion__label {
  display: block;
  color: #7a5a5a;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
}

.accordion-heder__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label-icon {
	height: 3vh;
	width: 3vh;
	opacity: 0;
	transition: opacity, rotate, 0.2s;
}
 

.accordion-meme__conten {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2d2c3;
}

.accordion__input {
  display: none;
}

.text-logo{
	font-size: 4rem;
	transition: all 0.5s;
}
.meme-text {
	font-size: 2rem;
  font-family: "Quicksand", sans-serif;
	transition: all 0.5s;
}



.accordion-heder__title{
	display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion__input:checked+.accordion-label .meme__image {
	height: auto;
	padding-bottom: 1.5rem;
	opacity: 1;
	scale: 1;
}

.accordion__input:checked+.accordion-label .meme-text {
	color: rgb(148, 71, 20);
}

.accordion__input:checked+.accordion-label .label-icon {
	opacity: 1;
	rotate: 45deg;
}
.accordion__input:hover+.accordion-label .label-icon {
	rotate: 45deg;
}

.accordion-container:hover .label-icon {
	opacity: 1;
}
.accordion-container:hover .meme-text {
	color: aqua;
}
.accordion__input:hover+.accordion-label .meme__image {
	height: auto;
	padding-bottom: 1.5rem;
	opacity: 1;
	scale: 1;
}


@media (min-width: 1000px) {


	.accordion-container{
		max-width: 70vw;
	}
	
	.accordion-container,
	.accordion__wrapper,
	.accordion-label {
		cursor: pointer;
	}
}
	
@media (max-width: 1000px) {
	.accordion__input:checked+ .meme__image {
		padding-bottom: 0.5rem;
	}
	.label-icon {
		opacity: 1;
		transition: opacity, rotate, 0.2s;
	}

	.accordion-container{
		padding: 2rem;
		max-width: 70vw;
	}

	.accordion__wrapper,
	.accordion-label {
		cursor: pointer;
	}

	.text-logo{
		font-size: 3rem;

	}
	.meme-text {
		font-size: 1.7rem;
	}
}


@media (max-width: 700px) {
	.accordion-container{
		padding: 2rem;
		max-width: 90vw;
	}

	.label-icon {
		height: 2vh;
		width: 2vh;
		opacity: 1;
		transition: opacity, rotate, 0.2s;
	}

	.text-logo{
		font-size: 2.5rem;

	}
	.meme-text {
		font-size: 1.6rem;
	}
}


@media (max-width: 400px) {

	.accordion-container{
		padding: 2rem;
		max-width: 99vw;
	}

	.label-icon {
		height: 1.8vh;
		width: 1.8vh;
		opacity: 1;
		transition: opacity, rotate, 0.2s;
	}
	.text-logo{
<<<<<<< HEAD:cssBayan/style.css
		font-size: 1.7rem;

	}
	.meme-text {
		font-size: 1.2rem;
		text-shadow: none;
=======
		font-size: 2.2rem;

	}
	.meme-text {
		font-size: 1.5rem;
>>>>>>> parent of 3a78a68 (feat: fix bags and add new img (Mon, Mar 13, 2023 00:01:56 PM)):style.css
	}
}













